.infoList {
  list-style-type: none;
  width: 200px;
}

.bookWrapper {
  background-color: darkkhaki;
  width: 400px;
  border-width: thick;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 10px;
}
