.form-group input {
  width: 200px;
}

.switch-toggle input:checked + label {
  background: green;
  border-radius: 25px;
}

.switch-toggle {
  margin-top: 10px;
  width: 95px;
  float: left;
  background: darkgray;
  margin-right: 10px;
  border-radius: 15px;
}

.switch-toggle input {
  margin-top: 10px;
  position: absolute;
  float: left;
  opacity: 0;
}

.switch-toggle input + label {
  padding: 8px;
  float: left;
  color: #fff;
  cursor: pointer;
}
.filter {
  padding-top: 110px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.form-group {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding-top: 5px;
  margin-bottom: 2em;
  background-color: lavender;

}
.logIn {
  display: flex;
  margin-left: 400px;
}
.logIn a {
  padding-bottom: 50px;
  margin-right: 20px;
}
